*/__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.log
*.sqlite3
.DS_Store
.vscode/
.idea/
.env
.venv/
env/
venv/
__pypackages__/
.ipynb_checkpoints/
coverage/
*.db